Please sign in.

<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
</form>

Forgot password?

<form method='post' action='/password/reset'>
  Email: <input type='text' name='forgot'>
  <input type='submit' value='new password'>
</form>